# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# Linting & type checking
.ruff_cache/
.mypy_cache/

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
.ipynb_checkpoints/

# Environment
.env
.env.local

experiments/