dm-pybloom==3.0.4
flexmatcher==1.0.4
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
matplotlib==3.1.1
nltk==3.4.3
notebook==5.7.8
numpy==1.16.3
pandas==0.24.2
pandocfilters==1.4.2
PuLP==1.6.10
pyemd==0.5.1
python-dateutil==2.8.0
python-Levenshtein==0.12.0
scikit-learn==0.21.1
scipy==1.3.0
tqdm==4.34.0