# algorithms
numpy==1.26.0
pandas==2.1.1
nltk==3.8.1
anytree==2.10.0
networkx==3.1
chardet==5.2.0
jellyfish==1.0.1
PuLP==2.7.0
pyemd==1.0.0
# data loading
python-dateutil==2.8.2
# testing
valentine~=0.2.0
pytest~=8.2.0
setuptools~=65.5.1