---
---

@import "{{ site.theme }}";

.inner {
  max-width: 840px;
}

#header_wrap .inner {
  max-width: 1340px;
  padding: 50px 10px 30px 10px;
}

#footer_wrap {
  background: #1eb6b6;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #1eb6b6;
  border-bottom: 1px solid #1eb6b6;
}

#header_wrap {
  background: #1eb6b6;
}
